@media (min-width: 750px) {
    .exp-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;

    }
}

@media (max-width: 749px) {
    .exp-wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
}

.exp-wrapper h1 {
    text-align: center;
}

.jobs {
    width: 50%;
}
    
.certs {
    width: 50%;
}

.certs .item {
    padding-bottom: 2em;
}