@media (min-width: 750px) {
    .item {
        padding-top: 1em;
    }
    
    .main {
        width: 40%;
        align-items: center;
    }
}

@media (max-width: 749px) {
    .item {
        padding-top: 1em;
    }
    
    .main {
        width: 60%;
        align-items: center;
    }
}

.proj-name {
    text-align: center;
    font-weight: bold;
    padding: 1em;
}