body {
    font-family: "Lato", sans-serif;
    background-color: #e3e3e3;
    margin: 20px;
}

@media (max-width: 1200px) {
    .main p {
        color: #131313;
        margin-top: 3%;
        text-align: justify;
        font-size: 18px;
    }
}

@media (min-width: 1201px) {
    .main p {
        color: #131313;
        margin-left: 10%;
        margin-top: 3%;
        text-align: left;
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .images {
        display: none;
    }

    .initials {
        display: none;
    }

    .main .p {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        margin-top: 2rem;
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .mobile-nav {
        display: none;
    }
}

.images {
    width: 308px;
    height: 395px;
    float: right;
    margin-top: 5%;
    padding-left: 5%;
    margin-right: 10%;
}

table, th, td {
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%
}

.skills {
    padding-top: 4%;
}

.nav {
    float: left;
}